body {
    font-family: Arial, sans-serif;
    background-color: #a600ff;
    text-align: center;
}

.discount {
    background-color: #a600ff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 676px;
    height: 60px;
    top: 80px;
    left: 302px;
}

.timer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.time-box {
    text-align: center;
}

button {
    background-color: #ffffff;
    color: #a600ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
